button {
    width: 20%;
    height: 100%;
}

#calculator {
    height: 100%;
    width: 100%;
    border: 2px black solid;
}
#all-buttons {
    height: 80%;
}

#display {
    width: 100%;
    height: 20%;
    background-color: bisque;   
}

#entered {
    height: 30%;
}
#calculation {
    height: 70%;
    text-align: right;
    font-size: 32px;
}

.row {
    height: 20%;
}

body {
    height: 400px;
    width: 300px;
}